<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :usuario %><br />
  <%= f.text_field :nombre_usuario %></p>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :contraseña %> <i>(déjalo en blanco si no quieres actualizar)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :confirma_contraseña %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :contraseña_actual %> <i>(es necesaria tu contraseña actual para actualizar)</i><br />
  <%= f.password_field :current_password %></p>
<p>
	<%= f.label :rol %><br /><br />
	<% for rol in Usuario::ROLES %>
	<% if (can? :create, resource && (rol == 'admin')) %>
	<%= check_box_tag "usuario[roles][]",rol, resource.roles.include?(rol) %>
	<%= rol.humanize %>
	<% elsif rol != 'admin'  %>
	<%= check_box_tag "usuario[roles][]",rol, resource.roles.include?(rol) %>
	<%= rol.humanize %>
	<% end %>
	<% end %>
	<%= hidden_field_tag "usuario[roles][]" %>
</p>

  <p><%= f.submit "Actualizar" %></p>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿Descontento? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "¿Estás seguro?", :method => :delete %>.</p>

<%= link_to "Regresar", :back %>
