<p>
	<%= f.label :nombre %><br>
	<%= f.text_field :nombre  %>
</p>    
<p>     
	<%= f.label :descripcion %><br>
	<%= f.text_field :descripcion %>
</p>    
<p>     
	<%= f.label :precio %><br>
	<%= f.text_field :precio %>
</p>


