<h1>Sorteos</h1>

<table>
  <tr>
    <th>Titulo </th>
    <th>Descripcion </th>
    <th>No. de boletos </th>
  </tr>

<% @sorteos.each do |sorteo| %>
  <tr>
	<td><%= sorteo.titulo %>
	<td><%= sorteo.descripcion %></td>
	<td><%= sorteo.num_boletos %></td>
    <td>  <%= link_to 'Detalles', sorteo %></td>
<% if can? :manage, sorteo %>
    <td><%= link_to 'Editar', edit_sorteo_path(sorteo) %></td>
    <td><%= link_to 'Destruir', sorteo, :confirm => '¿Estás seguro?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>



<br />
<% if can? :manage, @sorteos %>
<%= link_to 'Agregar Sorteo', new_sorteo_path %>
<% end %>