<p id="notice"><%= notice %></p>

<h1>Sorteo <%= @sorteo.titulo %></h1>

<% @blocks = current_usuario.blocks %>
	<%= render 'blocks/blocks', :collection => @blocks %>



<%# link_to 'Agregar Block', :controller => "blocks",:action => "new",:sorteo_id => @sorteo.id %><br><br>
<% if can? :manage, @sorteo %>
	<%= link_to 'Editar', edit_sorteo_path(@sorteo) %> |
<% end %>
<%= link_to 'Regresar', sorteos_path %>
