<p id="notice"><%= notice %></p>

<h1>Sorteo <%= @sorteo.titulo %></h1>

<% if current_usuario.blocks.count>0 %>
	<%= render 'blocks/blocks' %>
<% end %>
<%= link_to 'Agregar Block', new_block_path %><br><br>
<% if can? :manage, @sorteo %>
	<%= link_to 'Editar', edit_sorteo_path(@sorteo) %> |
<% end %>
<%= link_to 'Regresar', sorteos_path %>
