<h1>Mis blocks</h1>

<table>
  <tr>
	<th>Sorteo</th>
    <th>Premio</th>
    <th>Boletos</th>
    <th>Folio Min</th>
	<th>Folio Max</th>
	<th>Colocaciones</th>

  </tr>

<% @blocks.each do |block| %>
  <tr>
	<td><%= block.sorteo.titulo %></td>
	<td><%= block.sorteo.premio.nombre %></td>
	<td><%= block.num_boletos %></td>
	<td><%= block.folio %></td>
	<td><%= block.folio %></td>
	<td><%= block.folio %></td>
    <td><%= link_to 'Show', block %></td>
	<% if can? :manage, block %>
	    <td><%= link_to 'Edit', edit_block_path(block) %></td>
	    <td><%= link_to 'Destroy', block, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, Block %>
<%= link_to 'Agregar Block', :controller => "blocks",:action => "new",:sorteo_id => @sorteo.id %>
<% end %>