<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
	<%= f.label "Cantidad de boletos" %></p>
	<%= f.text_field :num_boletos %>
</p>
<h1>Boletos</h1>
<%= f.fields_for :boletos do |builder| %>

<%= render :partial => 'campos_boleto' %>

<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
