<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %>. Revisa los siguientes datos:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
<%= render 'campos_block',:f => f %>
</p>
<%= debug params %>
<%# f.fields_for :boletos do |builder| %>

<%# render 'boletos/campos_boleto', :f => builder %>

<%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
