<p id="notice"><%= notice %></p>


Cantidad de Boletos <%= @block.num_boletos %>

<% @boletos = @block.boletos %>
<%= render "boletos/boletos", :collection => @boletos %>

<p><%# link_to_add_fields("Agregar Boleto", f, :boletos)%></p>


<%= link_to 'Editar', edit_block_path(@block) %> |
<%= link_to 'Regresar', blocks_path %>
