<p id="notice"><%= notice %></p>


Cantidad de Boletos <%= @block.num_boletos %>


<%= render "boletos/boletos", :boletos => @block.boletos %>

<p><%# link_to_add_fields("Agregar Boleto", f, :boletos)%></p>


<%= link_to 'Editar', edit_block_path(@block) %> |
<%= link_to 'Regresar', blocks_path %>
