


<% if usuario_signed_in? %>
	<%= render 'sorteos/sorteos' %>
	
	<%= render 'blocks/blocks' %>
	

<% else %>
<h1>BIENVENIDOS</h1>

<div id="photos">
<%= image_tag "juan.png",:size => '170x200'%>	
<%= image_tag "ninos2.jpg",:size => '200x200'  %>	
<%= image_tag "abrazo nino.jpg",:size => '200x200' %>	
</div>


<% end %>