<p><%= f.label :folio  %><br>
<%= f.text_field :folio  %></p>
<p>
<%= f.label :nombre  %><br>
<%= f.text_field :nombre  %>
</p>
<p>
<%= f.label "RFC"  %><br>
<%= f.text_field :rfc  %></p>
<p>
<%= f.label "Dirección"  %><br>
<%= f.text_field :dir  %></p>
<p>
<%= f.label :cp  %><br>
<%= f.text_field :cp  %></p>
<p>
<%= f.label :ciudad  %><br>
<%= f.text_field :ciudad  %></p>
<p>
<%= f.label :telefono  %><br>
<%= f.text_field :telefono  %></p>
<p>
<%= f.label :email  %><br>
<%= f.text_field :email  %></p>
